<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MsxHost" value="2.2.2.2"/>
    <add key="MsxUserName" value="MsxUserNameFromSettings"/>
    <add key="MsxPassword" value="MsxPasswordFromSettings"/>
  </appSettings>
</configuration>